[submodule "scrum-card-backend"]
	path = scrum-card-backend
	url = https://github.com/sqqid/scrum-cards-backend.git
[submodule "scrum-cards-ui"]
	path = scrum-cards-ui
	url = https://github.com/sqqid/scrum-cards-ui.git
